a {
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}


.navigation-ul li {
    transition-duration: 0.3s;
}

.navigation-ul li:hover {
    scale: 1.2;
    transform: translate(+10%, 0);
    font-weight: bold;
}



.delete-checkbox {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.25em solid;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin: auto;

}
.delete-checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #000;
    transform-origin: bottom left;
    /*clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
}

.delete-checkbox:checked::before {
    transform: scale(1);
}

.delete-checkbox:hover {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}
