.notification {
  height: 2rem;
  width: 2.4rem;
  background: transparent;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 1s;
}

.notification:hover {
  scale: 1.3;
  animation: bell 0.5s linear 0s 2 normal both;
}

@keyframes bell {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.profile-photo {
  height: 2rem;
  width: 2rem;
  background: white;
  border: solid 1px black;
  color: gray;
  border-radius: 50%;
}

.profile-container-singin {
  min-width: 8rem;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: transparent;

  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 1s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: rgb(108, 117, 125);
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 1s;
  transition-delay: calc(200ms * var(--delay));
}

.dropdown-btn:focus + .dropdown-content li {
  left: 0;
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: rgb(129, 134, 138);
  scale: 1.1;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}
.dropdown-content li a:hover {
  scale: 1;
}

.notification-container {
  position: relative;
}

.dropdown-notification-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  right: 100%;
  /* visibility: hidden; */
  padding-left: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 25rem;
  background: rgb(108, 117, 125);
  border-radius: 1rem;
  /* opacity: 0; */
  /* transition:  opacity 1s ease-in-out 2s; */
  /* transition: visibility 1s ease-in-out 2s; */
  cursor: pointer;
}

.dropdown-notification-content li {
  background: transparent;
  position: relative;
  /* right: 100%; */
  /* transition: all 3s ease-in-out calc(200ms * var(--delay)); */
  transition: scale 0.5s ease-in-out 0s;
 
  width: max-content;
  max-width: 25rem;
}

/* .notification:focus + .dropdown-notification-content li {
  right: 0;
} */

/* .notification:focus + .dropdown-notification-content {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
} */

.dropdown-notification-content li:hover {
  scale: 1.1;
}

.notification-content-msg > span {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.notification-content-msg {
  display: inline-flex;
  align-items: center;
  color: black;
  padding: 1rem;
}

.notification-content-msg div {
  
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: rgb(129, 134, 138);
  border-radius: 1rem;
}

.notification-content-msg div > p {
  word-wrap: break-word;
  /* overflow-x: hidden; */
  max-width: 200px;
  margin: 0;
}

.inverse-color:hover {
  color: white;
}

@media (max-width: 550px) {
  .dropdown-notification-content {
    max-width: 320px;
    position: fixed;
    right: 0%;
  }
}

/* a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
} */

.navigation-ul li {
  transition-duration: 0.3s;
}

.navigation-ul li:hover {
  scale: 1.2;
  transform: translate(+10%, 0);
  font-weight: bold;
}

.delete-checkbox {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.25em solid;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin: auto;
}
.delete-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000;
  transform-origin: bottom left;
  /*clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
}

.delete-checkbox:checked::before {
  transform: scale(1);
}

.delete-checkbox:hover {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.without-scroll::-webkit-scrollbar {
  width: 0;
}

.without-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.without-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.left-scroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #ccc;
    border-radius: 5px;
  }
}

.slick-next:before, .slick-prev:before {
  color: black !important;
}

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
